In [11]:
from sklearn import tree
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
%matplotlib inline

In [2]:
data = pd.read_csv('C:/Users/Admin/Downloads/dogs_n_cats.csv')
test = pd.read_json('C:/Users/Admin/Downloads/a.json')

In [3]:
data

     Length  Height  Fur  Bark  Climb       Type
0        15    18.0    1     1      0  sweet_dog
1        20    24.0    1     0      0  sweet_dog
2        34    40.8    1     1      0  sweet_dog
3        26    31.2    1     1      0  sweet_dog
4        16    19.2    1     1      0  sweet_dog
..      ...     ...  ...   ...    ...        ...
995       8     3.2    1     0      1        cat
996       7     2.8    1     0      1        cat
997       6     2.4    1     0      1        cat
998       7     2.8    1     0      1        cat
999      11     4.4    1     0      1        cat

[1000 rows x 6 columns]

In [4]:
clf = tree.DecisionTreeClassifier(criterion='entropy')

In [5]:
x = data.drop(["Type"], axis = 1)
y = data.Type

In [6]:
clf.fit(x, y)
clf.score(x, y)

1.0

In [9]:
prediction = clf.predict(test)

In [13]:
unique, counts = np.unique(prediction, return_counts=True)
dict(zip(unique, counts))

{'cat': 54, 'sweet_dog': 46}

Number of dogs is 46